@import url(https://fonts.googleapis.com/css?family=Roboto:300,700|Roboto+Slab);
body {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background: #fafafa;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab';
  font-weight: normal;
}
h1 .icon,
h2 .icon,
h3 .icon,
h4 .icon,
h5 .icon,
h6 .icon {
  opacity: 0.4;
}
footer {
  background: #444444;
  padding: 1em;
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.6);
}
footer a,
footer a:visited {
  font-weight: normal;
  color: #ffffff;
}
footer a:hover {
  color: #fffde7;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
a {
  cursor: pointer;
  color: #607d8b;
  font-weight: bold;
}
a:visited {
  color: #673AB7;
}
a:hover {
  color: #03a9f4;
}
.close {
  cursor: pointer;
  float: right;
  background-color: #03a9f4;
  color: #ffffff;
  width: 1.5em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  position: relative;
  top: -25px;
  border-radius: 1.5em;
  font-weight: bold;
  font-size: 1.5em;
}
.default {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.default > div {
  margin-top: 1em;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.default > div p {
  margin: 1em 2em;
  text-align: left;
}
.default > div img {
  margin: 2em;
}
.default h2 {
  text-align: center;
}
.organism-line {
  display: flex;
  width: 100%;
  padding: 0;
}
.organism-line div {
  width: 15%;
  height: 0;
  border-bottom: solid 5px #cccccc;
}
.hoverstate {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}
.activestate {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
}
.table-style td,
.table-style th {
  text-align: center;
}
.table-style td {
  padding: 0.2em 1em;
}
.table-style td.dataset {
  min-width: 10em;
}
.table-style td.organism {
  min-width: 6em;
}
.table-style td:first-child {
  border-left: solid 3px;
  padding: 0.2em;
}
.table-style .zebrafish td:first-child {
  border-color: #ff5722;
}
.table-style .yeast td:first-child {
  border-color: #ffc107;
}
.table-style .human td:first-child {
  border-color: #8bc34a;
}
.table-style .worm td:first-child {
  border-color: #3f51b5;
}
.table-style .mouse td:first-child {
  border-color: #00bcd4;
}
.table-style .rat td:first-child {
  border-color: #e91e63;
}
.table-style .fly td:first-child {
  border-color: #9c27b0;
}
.table-style th {
  background: #607d8b;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  padding: 0.5em;
}
.table-style tr:hover {
  background: #fffde7;
}
.table-style tr:hover td {
  background: #fffde7;
}
.table-style tr:nth-child(even) {
  background: #e5e5e5;
}
.mine-color-pseudo-elements:before {
  content: "";
  opacity: 0.2;
  display: block;
  width: 3px;
  height: 10px;
  background: #ddd;
  margin-top: 4px;
  margin-right: 0;
  float: left;
  border-radius: 5px;
}
.mine-color-pseudo-elements:hover:before {
  opacity: 1;
}
.mine-color-pseudo-elements.zebrafish:before {
  background-color: #ff5722;
}
.mine-color-pseudo-elements.yeast:before {
  background-color: #ffc107;
}
.mine-color-pseudo-elements.human:before {
  background-color: #8bc34a;
}
.mine-color-pseudo-elements.worm:before {
  background-color: #3f51b5;
}
.mine-color-pseudo-elements.mouse:before {
  background-color: #00bcd4;
}
.mine-color-pseudo-elements.rat:before {
  background-color: #e91e63;
}
.mine-color-pseudo-elements.fly:before {
  background-color: #9c27b0;
}
button {
  cursor: pointer;
  padding: 1em;
  color: #ffffff;
  background: #03a9f4;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 1em;
  border: 0;
  border-radius: 2px;
}
button:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  background: #47c4fd;
}
button:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
  background: #0275a8;
}
main {
  display: flex;
  align-items: flex-start;
}
main h2,
main h4 {
  margin: 0;
}
nav {
  margin: 1em;
  border-radius: 2px;
}
nav ul {
  padding: 0;
}
nav li {
  list-style-type: none;
}
nav li a,
nav li a:visited {
  font-weight: 300;
  display: block;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  min-width: 12em;
  background: #eeeeee;
  padding: 1em;
  border-left: solid 3px #eeeeee;
}
nav li a:hover,
nav li a:visited:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  background: #fbfbfb;
  color: rgba(0, 0, 0, 0.87);
  border-left: solid 3px #03a9f4;
}
nav li a:active,
nav li a:visited:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
  background: #c8c8c8;
  border-left: solid 3px #0275a8;
}
nav li a.active,
nav li a:visited.active {
  transition: all 1s;
  background-color: #607d8b;
  color: #ffffff;
  border-left: solid 3px #41545e;
}
nav li a.active:hover,
nav li a:visited.active:hover {
  background-color: #607d8b;
  color: #ffffff;
}
nav li a.active svg,
nav li a:visited.active svg {
  fill: #ffffff;
}
nav li a svg,
nav li a:visited svg {
  margin-right: 1em;
  color: rgba(0, 0, 0, 0.4);
}
select,
button,
textarea {
  box-sizing: border-box;
  margin: 0.5em;
  border-radius: 2px;
}
select,
textarea {
  background-color: #fff;
  border: solid 1px #cccccc;
  padding: 0.25em;
}
.default-shadow {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.icon {
  vertical-align: top;
  margin-top: 1px;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.contentbody {
  margin: 1em;
}
.contentbody.startpage {
  width: 100%;
}
.contentbody.startpage h2 {
  float: none;
}
.contentbody header:after {
  content: "";
  display: table;
  clear: both;
}
.contentbody h2 {
  margin-bottom: 0.6em;
  float: left;
}
.contentbody .download {
  float: right;
}
.contentbody .download h3,
.contentbody .download a {
  float: left;
  clear: right;
  line-height: 1.8em;
  margin: 0 0 0 1.2em;
}
.contentbody .download h3 svg,
.contentbody .download a svg {
  margin-top: 0.5em;
  margin-right: 0.2em;
}
.contentbody .download a {
  line-height: 2.2em;
}
@keyframes pulse {
  0% {
    border-color: #3f51b5;
  }
  15% {
    border-color: #9c27b0;
  }
  30% {
    border-color: #e91e63;
  }
  45% {
    border-color: #ff5722;
  }
  60% {
    border-color: #ffc107;
  }
  75% {
    border-color: #8bc34a;
  }
  90% {
    border-color: #00bcd4;
  }
  100% {
    border-color: #3f51b5;
  }
}
.search {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  background: #eeeeee;
  color: rgba(0, 0, 0, 0.87);
  padding: 1em;
  transition: all 0.35s ease-out;
}
.search h1,
.search h2,
.search h3,
.search h4,
.search h5,
.search h6 {
  margin-top: 0;
}
.search.shrunk {
  min-height: 1em;
  max-height: 15em;
}
.search.expanded {
  min-height: 35em;
  max-height: 50em;
  flex-grow: 2;
}
.search.expanded .geneinput {
  max-width: 30%;
  flex-direction: column;
}
.search.expanded .geneinput .searchform,
.search.expanded .geneinput .intro {
  max-width: 100%;
}
.search.expanded .filter.output {
  flex-grow: 1;
  max-width: 30%;
}
.search.expanded .filter.output form {
  flex-grow: 1;
  flex-direction: column;
}
.search .geneinput {
  display: flex;
  transition: all 0.35s ease-out;
  max-width: 40%;
}
.search .geneinput textarea {
  animation-duration: 3s;
  animation-name: pulse;
  border: solid 1px #03a9f4;
  border-left: solid 5px #03a9f4;
}
.search .intro {
  max-width: 50%;
  text-align: justify;
}
.search .searchform {
  flex-grow: 1;
  max-width: 50%;
  padding: 0 1em;
}
.search .searchform select,
.search .searchform button,
.search .searchform textarea {
  width: 100%;
}
.search .filters {
  padding: 0 1em;
  display: flex;
  flex-grow: 2;
}
.search .filters label {
  display: block;
  min-width: 9em;
  flex-grow: 1;
}
.search .filters .output label:before {
  content: "";
  opacity: 0.2;
  display: block;
  width: 3px;
  height: 10px;
  background: #ddd;
  margin-top: 4px;
  margin-right: 0;
  float: left;
  border-radius: 5px;
}
.search .filters .output label:hover:before {
  opacity: 1;
}
.search .filters .output label.zebrafish:before {
  background-color: #ff5722;
}
.search .filters .output label.yeast:before {
  background-color: #ffc107;
}
.search .filters .output label.human:before {
  background-color: #8bc34a;
}
.search .filters .output label.worm:before {
  background-color: #3f51b5;
}
.search .filters .output label.mouse:before {
  background-color: #00bcd4;
}
.search .filters .output label.rat:before {
  background-color: #e91e63;
}
.search .filters .output label.fly:before {
  background-color: #9c27b0;
}
.search .filters .filter {
  padding: 0 1em;
  border-left: solid 1px #cccccc;
  flex-grow: 4;
  max-width: 50%;
  transition-timing-function: ease-out;
}
.search .filters .filter form {
  display: flex;
  flex-wrap: wrap;
}
.search .filters .filter form.evidence {
  flex-direction: column;
}
.search .filters .filter a.change-codes {
  font-weight: normal;
}
.search .filters .evidence-mini {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 10em;
}
.search .filters .evidence-mini:after {
  content: "";
  display: table;
  clear: both;
}
.search .filters .evidence-mini .code {
  margin: 0.1em 0.2em;
}
.search .filters .evidence-mini .code:after {
  content: ",";
}
.search .filters .evidence-mini .code:last-child:after {
  content: "";
}
.search .filters .evidence-mini h5 {
  width: 100%;
  margin: 0.1em;
}
.search .filters .evidence-mini a {
  text-decoration: underline;
}
.ortholog-results {
  width: 100%;
}
.ortholog-results .count {
  width: 6em;
}
.ortholog-results .aggregate {
  width: 100%;
}
.ortholog-results .aggregate td,
.ortholog-results .aggregate th {
  text-align: center;
}
.ortholog-results .aggregate td {
  padding: 0.2em 1em;
}
.ortholog-results .aggregate td.dataset {
  min-width: 10em;
}
.ortholog-results .aggregate td.organism {
  min-width: 6em;
}
.ortholog-results .aggregate td:first-child {
  border-left: solid 3px;
  padding: 0.2em;
}
.ortholog-results .aggregate .zebrafish td:first-child {
  border-color: #ff5722;
}
.ortholog-results .aggregate .yeast td:first-child {
  border-color: #ffc107;
}
.ortholog-results .aggregate .human td:first-child {
  border-color: #8bc34a;
}
.ortholog-results .aggregate .worm td:first-child {
  border-color: #3f51b5;
}
.ortholog-results .aggregate .mouse td:first-child {
  border-color: #00bcd4;
}
.ortholog-results .aggregate .rat td:first-child {
  border-color: #e91e63;
}
.ortholog-results .aggregate .fly td:first-child {
  border-color: #9c27b0;
}
.ortholog-results .aggregate th {
  background: #607d8b;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  padding: 0.5em;
}
.ortholog-results .aggregate tr:hover {
  background: #fffde7;
}
.ortholog-results .aggregate tr:hover td {
  background: #fffde7;
}
.ortholog-results .aggregate tr:nth-child(even) {
  background: #e5e5e5;
}
.heatmap .download {
  float: left;
}
.heatmap h3 {
  line-height: 1.2em;
  vertical-align: middle;
}
.heatmap td,
.heatmap th {
  text-align: center;
}
.heatmap td {
  padding: 0.2em 1em;
}
.heatmap td.dataset {
  min-width: 10em;
}
.heatmap td.organism {
  min-width: 6em;
}
.heatmap td:first-child {
  border-left: solid 3px;
  padding: 0.2em;
}
.heatmap .zebrafish td:first-child {
  border-color: #ff5722;
}
.heatmap .yeast td:first-child {
  border-color: #ffc107;
}
.heatmap .human td:first-child {
  border-color: #8bc34a;
}
.heatmap .worm td:first-child {
  border-color: #3f51b5;
}
.heatmap .mouse td:first-child {
  border-color: #00bcd4;
}
.heatmap .rat td:first-child {
  border-color: #e91e63;
}
.heatmap .fly td:first-child {
  border-color: #9c27b0;
}
.heatmap th {
  background: #607d8b;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  padding: 0.5em;
}
.heatmap tr:hover {
  background: #fffde7;
}
.heatmap tr:hover td {
  background: #fffde7;
}
.heatmap tr:nth-child(even) {
  background: #e5e5e5;
}
.heatmap table {
  border-collapse: collapse;
  border-spacing: 0;
}
.heatmap thead tr:hover {
  background: inherit;
}
.heatmap .axis {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.05) 80%, rgba(0, 0, 0, 0.05) 99%, rgba(0, 0, 0, 0.15) 100%);
  min-width: 16em;
}
.heatmap th.goterm,
.heatmap th {
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
  text-shadow: none;
  vertical-align: bottom;
  font-weight: 300;
}
.heatmap th.goterm {
  white-space: nowrap;
  height: 12em;
  z-index: 4;
  text-align: left;
}
.heatmap th.goterm div {
  transform: translate(1.8em, 0em) rotate(315deg);
  width: 2.2em;
}
.heatmap th.goterm div span {
  height: 100%;
  display: block;
  min-width: 18em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
.heatmap th.goterm div span:hover {
  overflow: visible;
  width: 100%;
  border-bottom: solid 1px #607d8b;
  background: #fff;
}
.heatmap .expand {
  cursor: pointer;
}
.heatmap .species,
.heatmap .ortholog {
  min-width: 7.5em;
  float: left;
}
.heatmap div.ortholog {
  text-align: right;
  float: right;
  margin-right: 8px;
}
.heatmap td:nth-child(2) {
  text-align: right;
}
.heatmap td {
  border: 0;
  border-right: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  text-shadow: 0 0 1px #fff;
}
.heatmap td svg {
  float: right;
}
.heatmap td.ortholog {
  min-width: 100px;
}
.heatmap .no-orthologs {
  border-right: 0;
}
.heatmap .rat td:nth-child(2),
.heatmap .worm td:nth-child(2),
.heatmap .human td:nth-child(2),
.heatmap .zebrafish td:nth-child(2),
.heatmap .mouse td:nth-child(2),
.heatmap .yeast td:nth-child(2),
.heatmap .fly td:nth-child(2) {
  border-right: 0;
}
.heatmap .rat td:first-child,
.heatmap .worm td:first-child,
.heatmap .human td:first-child,
.heatmap .zebrafish td:first-child,
.heatmap .mouse td:first-child,
.heatmap .yeast td:first-child,
.heatmap .fly td:first-child {
  min-width: 7.5em;
  white-space: nowrap;
  border-bottom: solid 1px #cccccc;
  border-right: 0;
}
.heatmap tr:nth-child(even) {
  background: transparent;
}
.enrichment .notsearched {
  margin: 1em 0;
  border-left: solid 3px #cccccc;
  padding: 1em;
}
.enrichment .settings {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.05);
}
.enrichment .settings > div {
  margin: 0 2em;
  line-height: 2.5em;
}
.enrichment .settings select {
  margin-left: 0.5em;
}
.enrichment h3 {
  margin: 0 0 1em;
  padding: 0;
  line-height: 1em;
}
.enrichment .organisms {
  display: flex;
  flex-wrap: wrap;
}
.enrichment .organism {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: 2s all;
  background: #ffffff;
  min-width: 400px;
  flex-grow: 2;
  max-height: 300px;
  overflow: auto;
  padding: 1em;
  margin: 0.5em;
  border-left: solid 3px;
}
.enrichment .organism.success {
  max-width: 100%;
}
.enrichment .organism.loading {
  max-width: 400px;
  background: #f5f5f5;
}
.enrichment .organism.error {
  margin: 0.5em;
  background-color: #ebebeb;
  flex-grow: 1;
  order: 7;
}
.enrichment .organism.error .error {
  max-width: 400px;
}
.enrichment .organism.error pre {
  display: inline;
  white-space: pre-wrap;
}
.enrichment .organism.error .icon {
  color: rgba(0, 0, 0, 0.25);
  margin-right: 0.5em;
}
.enrichment .organism.error.zebrafish {
  border-color: rgba(255, 87, 34, 0.3);
}
.enrichment .organism.error.yeast {
  border-color: rgba(255, 193, 7, 0.3);
}
.enrichment .organism.error.human {
  border-color: rgba(139, 195, 74, 0.3);
}
.enrichment .organism.error.worm {
  border-color: rgba(63, 81, 181, 0.3);
}
.enrichment .organism.error.mouse {
  border-color: rgba(0, 188, 212, 0.3);
}
.enrichment .organism.error.rat {
  border-color: rgba(233, 30, 99, 0.3);
}
.enrichment .organism.error.fly {
  border-color: rgba(156, 39, 176, 0.3);
}
.enrichment .organism .matches {
  min-width: 3em;
  text-align: right;
  display: block;
  float: left;
  clear: both;
}
.enrichment .organism .description {
  text-align: left;
}
.enrichment .organism.zebrafish {
  order: 2;
  border-color: #ff5722;
}
.enrichment .organism.yeast {
  order: 3;
  border-color: #ffc107;
}
.enrichment .organism.human {
  order: 1;
  border-color: #8bc34a;
}
.enrichment .organism.worm {
  border-color: #3f51b5;
  order: 7;
}
.enrichment .organism.mouse {
  order: 5;
  border-color: #00bcd4;
}
.enrichment .organism.rat {
  order: 4;
  border-color: #e91e63;
}
.enrichment .organism.fly {
  order: 6;
  border-color: #9c27b0;
}
.ontology {
  position: relative;
}
.ontology #lineplacer {
  stroke: #999999;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
}
.ontology div {
  z-index: 5;
}
.ontology .goterm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ontology .flexy {
  margin: 0 0.4em;
  display: flex;
  margin-top: 1.55em;
  border-radius: 2px;
}
.ontology .children {
  margin-top: -4px;
  display: flex;
}
.ontology .title {
  color: black;
  width: 150px;
  font-size: 0.8em;
  padding: 0.2em 0.6em;
  border: solid 1px #999999;
  background: #eee;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  text-align: center;
}
.ontology .title .organism {
  border-left: solid 3px;
  margin-left: -0.6em;
  background: rgba(0, 0, 0, 0.05);
  width: 148px;
  padding: 0.2em;
  font-size: 0.9em;
  position: relative;
  left: -1px;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
.ontology .title .organism.zebrafish {
  border-color: #ff5722;
}
.ontology .title .organism.yeast {
  border-color: #ffc107;
}
.ontology .title .organism.human {
  border-color: #8bc34a;
}
.ontology .title .organism.worm {
  border-color: #3f51b5;
}
.ontology .title .organism.mouse {
  border-color: #00bcd4;
}
.ontology .title .organism.rat {
  border-color: #e91e63;
}
.ontology .title .organism.fly {
  border-color: #9c27b0;
}
.status .success,
.status .error {
  font-size: 75%;
}
.status:hover {
  cursor: pointer;
}
.status .success {
  min-width: 35%;
  margin: 0 0.5em 0 0;
  display: block;
  float: left;
}
.status .success:after,
.status .counts:after {
  content: "";
  display: table;
  clear: both;
}
.status .organism {
  background: #eeeeee;
  border-left: solid 3px #cccccc;
  padding: 0.5em 0.5em 0.5em 1em;
}
.status .organism:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  background: #fbfbfb;
  border-left: solid 3px #03a9f4;
}
.status .organism:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
  background: #c8c8c8;
  border-left: solid 3px #0275a8;
}
.status .organism.zebrafish {
  border-color: rgba(255, 87, 34, 0.2);
}
.status .organism.yeast {
  border-color: rgba(255, 193, 7, 0.2);
}
.status .organism.human {
  border-color: rgba(139, 195, 74, 0.2);
}
.status .organism.worm {
  border-color: rgba(63, 81, 181, 0.2);
}
.status .organism.mouse {
  border-color: rgba(0, 188, 212, 0.2);
}
.status .organism.rat {
  border-color: rgba(233, 30, 99, 0.2);
}
.status .organism.fly {
  border-color: rgba(156, 39, 176, 0.2);
}
.status h5 {
  margin: 0;
  clear: both;
}
.status .icon {
  float: right;
  margin-top: -20px;
  color: rgba(0, 0, 0, 0.2);
}
.status .info {
  max-width: 12em;
}
.status .modal {
  opacity: 1;
  display: block;
  z-index: 100;
  position: fixed;
  text-shadow: none;
  background: #fff;
  border-radius: 2px;
  left: 10%;
  top: 10%;
  right: 10%;
  bottom: 60%;
  overflow: auto;
  padding: 1em;
  border-left: solid 3px;
}
.status .modal .icon {
  float: none;
  display: inline;
  margin: 0 0.5em 0 0;
}
.status .modal h4 {
  margin-bottom: 1em;
}
.status .modal.zebrafish {
  border-color: #ff5722;
}
.status .modal.yeast {
  border-color: #ffc107;
}
.status .modal.human {
  border-color: #8bc34a;
}
.status .modal.worm {
  border-color: #3f51b5;
}
.status .modal.mouse {
  border-color: #00bcd4;
}
.status .modal.rat {
  border-color: #e91e63;
}
.status .modal.fly {
  border-color: #9c27b0;
}
.status .fade {
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.loader .loader-organism {
  width: 40px;
  height: 0;
  display: block;
  border: solid 5px #eee;
  border-radius: 20px;
  opacity: 0.75;
  margin-right: -10px;
  float: left;
  animation-timing-function: ease-in;
  position: relative;
  animation-duration: 2.8s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}
.loader .worm {
  animation-delay: 0.2s;
}
.loader .zebra {
  animation-delay: 0.4s;
}
.loader .human {
  animation-delay: 0.6s;
}
.loader .yeast {
  animation-delay: 0.8s;
}
.loader .rat {
  animation-delay: 1s;
}
.loader .mouse {
  animation-delay: 1.2s;
}
.loader .fly {
  animation-delay: 1.4s;
}
.organism-line div.zebrafish {
  border-color: #ff5722;
}
.organism-line div.yeast {
  border-color: #ffc107;
}
.organism-line div.human {
  border-color: #8bc34a;
}
.organism-line div.worm {
  border-color: #3f51b5;
}
.organism-line div.mouse {
  border-color: #00bcd4;
}
.organism-line div.rat {
  border-color: #e91e63;
}
.organism-line div.fly {
  border-color: #9c27b0;
}
.db tr:nth-child(even) {
  background-color: rgba(50, 150, 200, 0.1);
}
.db td {
  margin: 0;
}
.db .jh-key {
  text-align: right;
}
